Package: haproxy-doc
Source: haproxy
Version: 2.1.0-dev1~bionic
Architecture: all
Maintainer: Debian HAProxy Maintainers <haproxy@tracker.debian.org>
Installed-Size: 2875
Pre-Depends: dpkg (>= 1.17.14)
Depends: libjs-bootstrap (<< 4), libjs-jquery, libjs-sphinxdoc (>= 1.0)
Section: doc
Priority: optional
Homepage: http://www.haproxy.org/
Description: fast and reliable load balancing reverse proxy (HTML documentation)
 HAProxy is a TCP/HTTP reverse proxy which is particularly suited for high
 availability environments. It features connection persistence through HTTP
 cookies, load balancing, header addition, modification, deletion both ways. It
 has request blocking capabilities and provides interface to display server
 status.
 .
 This package contains the HTML documentation for haproxy.
